@import "https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap";
// Reset CSS 
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

//NavBar + Menu Burger 
html {
	font-size: 10px;
	font-family: 'Montserrat', sans-serif;
	scroll-behavior: smooth;
}
a {
	text-decoration: none;
}
.container {
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}
p {
	color: black;
	font-size: 1.4rem;
	margin-top: 5px;
	line-height: 2.5rem;
	font-weight: 300;
	letter-spacing: 0.05rem;
}
.section-title{
	font-size: 4rem;
	font-weight: 300;
	color: black;
	margin-bottom: 10px;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
	text-align: center;
	span {
		color: rgb(105, 176, 13);
	}
}
.cta {
	display: inline-block;
	padding: 10px 30px;
	color: white;
	background-color: transparent;
	border: 2px solid rgb(105, 176, 13);
	font-size: 2rem;
	text-transform: uppercase;
	letter-spacing: 0.1rem;
	margin-top: 30px;
	transition: 0.3s ease;
	transition-property: background-color, color;
	&:hover {
		color: white;
		background-color: rgb(105, 176, 13);
	}
}
.marque {
	h1 {
		font-size: 3rem;
		text-transform: uppercase;
		color: white;
		span {
			color: rgb(105, 176, 13);
		}
	}
}
#header {
	position: fixed;
	z-index: 1000;
	left: 0;
	top: 0;
	width: 100vw;
	height: auto;
	.header {
		min-height: 8vh;
		background-color: rgba(31, 30, 30, 0.24);
		transition: 0.3s ease background-color;
	}
	.navbar {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		height: 100%;
		max-width: 1300px;
		padding: 0 10px;
	}
	.navlist {
		ul {
			list-style: none;
			position: absolute;
			background-color: rgb(31, 30, 30);
			width: 100vw;
			height: 100vh;
			left: 100%;
			top: 0;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			z-index: 1;
			overflow-x: hidden;
			transition: 0.5s ease left;
			a {
				font-size: 2.5rem;
				font-weight: 500;
				letter-spacing: 0.2rem;
				text-decoration: none;
				color: white;
				text-transform: uppercase;
				padding: 20px;
				display: block;
				&::after {
					content: attr(data-after);
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%) scale(0);
					color: rgba(240, 248, 255, 0.021);
					font-size: 13rem;
					letter-spacing: 50px;
					z-index: -1;
					transition: 0.3s ease letter-spacing;
				}
			}
			li {
				&:hover {
					a {
						&::after {
							transform: translate(-50%, -50%) scale(1);
							letter-spacing: initial;
						}
						color: rgb(105, 176, 13);
					}
				}
			}
		}
		ul.active {
			left: 0%;
		}
	}
	.hamburger {
		height: 60px;
		width: 60px;
		display: inline-block;
		border: 3px solid white;
		border-radius: 50%;
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		z-index: 100;
		cursor: pointer;
		transform: scale(0.8);
		margin-right: 20px;
		&:after {
			position: absolute;
			content: '';
			height: 100%;
			width: 100%;
			border-radius: 50%;
			border: 3px solid white;
			animation: hamburger_puls 1s ease infinite;
		}
		.bar {
			height: 2px;
			width: 30px;
			position: relative;
			background-color: white;
			z-index: -1;
			&::after {
				content: '';
				position: absolute;
				height: 100%;
				width: 100%;
				left: 0;
				background-color: white;
				transition: 0.3s ease;
				transition-property: top, bottom;
				top: 8px;
			}
			&::before {
				content: '';
				position: absolute;
				height: 100%;
				width: 100%;
				left: 0;
				background-color: white;
				transition: 0.3s ease;
				transition-property: top, bottom;
				bottom: 8px;
			}
		}
	}
	.hamburger.active {
		.bar {
			&::before {
				bottom: 0;
			}
			&::after {
				top: 0;
			}
		}
	}
}






// Page Bonus Compétences (avec gravité)

.competence_gravite{
	background: rgb(208,91,91);
	background: linear-gradient(90deg, rgba(208,91,91,1) 0%, rgba(113,20,20,1) 30%, rgba(0,0,0,1) 100%);	
}




.gravitation {
	width: 200px;
	height: 200px;

	img{ width: 100%;
	height: 100%;
	object-fit: contain;
}
} 
	.sectionGrav {
		display: grid;
		gap: 120px;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-template-rows: repeat(4, 1fr);
		height: 80vh;
	}

.BoutonMagique {
	display: flex;
	justify-content: center;
}
.button-54 {
	font-family: "Open Sans", sans-serif;
	font-size: 16px;
	letter-spacing: 2px;
	text-decoration: none;
	text-transform: uppercase;
	color: #000;
	cursor: pointer;
	border: 3px solid;
	padding: 0.25em 0.5em;
	box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
	position: relative;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	&:active {
		box-shadow: 0px 0px 0px 0px;
		top: 5px;
		left: 5px;
	}
}








  // Banniere de l'accueil avec animation de texte et image transparente
  #adam {
	background-image: url(images/adamsimon.jpg.png);
	background-size: cover;
	position: relative;
	z-index: 1;
	&::after {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		height: 100%;
		width: 100%;
		background-color: black;
		opacity: 0.7;
		z-index: -1;
	}
	.adam {
		max-width: 1200px;
		margin: 0 auto;
		padding: 0 50px;
		justify-content: flex-start;
	}
	h1 {
		display: block;
		width: fit-content;
		font-size: 4rem;
		position: relative;
		color: transparent;
		animation: text_reveal 0.5s ease forwards;
		animation-delay: 1s;
		&:nth-child(1) {
			animation-delay: 1s;
			span {
				animation-delay: 0.5s;
			}
		}
		&:nth-child(2) {
			animation-delay: 2s;
			span {
				animation-delay: 1.5s;
			}
		}
		&:nth-child(3) {
			animation: text_reveal_name 0.5s ease forwards;
			animation-delay: 3s;
			span {
				animation-delay: 2.5s;
			}
		}
		span {
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 0;
			background-color: rgb(105, 176, 13);
			animation: text_reveal_box 1s ease; // Bug corrigé 
			animation-delay: 0.5s;
		}
	}
}



#competences {
	.competences {
		flex-direction: column;
		text-align: center;
		max-width: 1500px;
		margin: 0 auto;
		padding: 100px 0;
	}
	.competence-top {
		max-width: 500px;
		margin: 0 auto;
	}
	.competence-bottom {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
		margin-top: 50px;
		.icon {
			height: 80px;
			width: 80px;
			margin-bottom: 20px;
			img {
				width: 100%;
				height: auto;
			}
		}
	}
	.itemCompetence {
		flex-basis: 80%;
		display: flex;
		align-items: flex-start;
		justify-content: center;
		flex-direction: column;
		padding: 30px;
		border-radius: 10px;
		margin: 10px 5%;
		position: relative;
		z-index: 1;
		overflow: hidden;
		&::after {
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			height: 100%;
			width: 100%;
			background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
			opacity: 0.9;
			z-index: -1;
		}
		h2 {
			font-size: 2rem;
			color: white;
			margin-bottom: 10px;
			text-transform: uppercase;
		}
		p {
			color: white;
			text-align: left;
		}
	}
}









// KeyFrames pour l'animation du prénom
@keyframes text_reveal_box {
	50% {
		width: 100%;
		left: 0;
	}
	100% {
		width: 0;
		left: 100%;
	}
}
@keyframes text_reveal {
	100% {
		color: white;
	}
}
@keyframes text_reveal_name {
	100% {
		color: rgb(105, 176, 13);
		font-weight: 500;
	}
}

#projects {
	.projects {
		flex-direction: column;
		max-width: 1200px;
		margin: 0 auto;
		padding: 100px 0;
	}
	.projects-header {
		h1 {
			margin-bottom: 50px;
		}
	}
	.all-projects {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
	}
	.project-item {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		width: 80%;
		margin: 20px auto;
		overflow: hidden;
		border-radius: 10px;
		&:hover {
			.project-img {
				img {
					transform: scale(1.1);
				}
			}
		}
	}
	.project-info {
		padding: 30px;
		flex-basis: 50%;
		height: 100%;
		display: flex;
		align-items: flex-start;
		justify-content: center;
		flex-direction: column;
		background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
		color: white;
		a {
			font-size: 4rem;
			font-weight: 500;
			text-decoration: none;
			color: white;
			&:visited {
				color: white;
			}
		}
		h2 {
			font-size: 1.8rem;
			font-weight: 500;
			margin-top: 10px;
		}
		p {
			color: white;
		}
	}
	.project-img {
		flex-basis: 50%;
		height: 300px;
		overflow: hidden;
		position: relative;
		&:after {
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			height: 100%;
			width: 100%;
			background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
			opacity: 0.7;
		}
		img {
			transition: 0.3s ease transform;
		}
	}
}



#footer {
	background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
	.footer {
		min-height: 200px;
		flex-direction: column;
		padding-top: 50px;
		padding-bottom: 10px;
	}
	h2 {
		color: white;
		font-weight: 500;
		font-size: 1.8rem;
		letter-spacing: 0.1rem;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	.social-icon {
		display: flex;
		margin-bottom: 30px;
	}
	.social-item {
		height: 50px;
		width: 50px;
		margin: 0 5px;
		img {
			filter: grayscale(1);
			transition: 0.3s ease filter;
		}
		&:hover {
			img {
				filter: grayscale(0);
			}
		}
	}
	p {
		color: white;
		font-size: 1.3rem;
	}
}



























// Responsive
@media only screen and (min-width: 1200px) {
	#header {
		.hamburger {
			display: none;
		}
		.navlist {
			ul {
				position: initial;
				display: block;
				height: auto;
				width: fit-content;
				background-color: transparent;
				li {
					display: inline-block;
					a {
						font-size: 1.8rem;
					}
				}
				a {
					&:after {
						display: none;
					}
				}
			}
		}
	}
}
@media (min-width: 768px) {
	.button-54 {
		padding: 0.25em 0.75em;
	}
}








@media only screen and (min-width: 768px) {
	.cta {
		font-size: 2.5rem;
		padding: 20px 60px;
	}
	h1.section-title {
		font-size: 6rem;
	}
	#adam {
		h1 {
			font-size: 7rem;
		}
	}
	#services {
		.service-bottom {
			.service-item {
				flex-basis: 45%;
				margin: 2.5%;
			}
		}
	}
	#projects {
		.project-item {
			flex-direction: row;
			height: 400px;
			margin: 0;
			width: 100%;
			border-radius: 0;
			&:nth-child(even) {
				flex-direction: row-reverse;
			}
		}
		.all-projects {
			.project-info {
				height: 100%;
			}
			.project-img {
				height: 100%;
			}
		}
	}
}


